body {
  margin: 0;
  color: #ffffff;
  background-color: #00265f;
}

header {
  width: 100%;
}
header h1 {
  text-align: center;
  margin: 1% auto;
}

.d-none {
  display: none;
}
.half {
  display: flex;
  background-color: #ff0000;
  align-content: center;
  width: 90%;
  margin-left: 5%;
  outline: 10px outset #888888;
  outline-offset: 0px;
  border-radius: 13px;
  flex-direction: column;
  justify-content: center;
}
.lcd-input {
  background-color: #9dc63f;
  color: #273800;
  /* align-self: middle; */
  /* width: 80%; */
  border: 16px groove #888888;
  border-radius: 13px;
}
.pokedisplay {
  max-width: 50%;
  height: auto;
  border: none;
}
.pokedisplay-container {
  background-color: #888888;
  width: 550px;
  height: 550px;
  display: inline-flex;
}

.normal {
  background-color: "#A8A77A";
}
.fire {
  background-color: "#EE8130";
}
.water {
  background-color: "#6390F0";
}
.electric {
  background-color: "#F7D02C";
}
.grass {
  background-color: "#7AC74C";
}
.ice {
  background-color: "#96D9D6";
}
.fighting {
  background-color: "#C22E28";
}
.poison {
  background-color: "#A33EA1";
}
.ground {
  background-color: "#E2BF65";
}
.flying {
  background-color: "#A98FF3";
}
.psychic {
  background-color: "#F95587";
}
.bug {
  background-color: "#A6B91A";
}
.rock {
  background-color: "#B6A136";
}
.ghost {
  background-color: "#735797";
}
.dragon {
  background-color: "#6F35FC";
}
.dark {
  background-color: "#705746";
}
.steel {
  background-color: "#B7B7CE";
}
.fairy {
  background-color: "#D685AD";
}
